Repository IISweetHeartII/My_Website_Astro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 050 블로그 이미지 퀄리티 개선
  public/images/blogs/050/050_00_thumbnail.png
  public/images/blogs/050/050_01_tangled-component.png
  public/images/blogs/050/050_02_separated-structure.png
  public/images/blogs/050/050_03_hook-composition.png
Due: none

fix: 050 이미지 캐시 고정 문제 우회
  public/images/blogs/050/050_00_thumbnail_v2.png
  public/images/blogs/050/050_01_tangled-component_v2.png
  public/images/blogs/050/050_02_separated-structure_v2.png
  public/images/blogs/050/050_03_hook-composition_v2.png
  src/content/blog/050_React_커스텀_훅과_책임_분리_-_컴포넌트가_모든_걸_알_필요는_없다.md
Due: prettier --write

fix: 050 발표 자료 링크를 slides 도메인으로 수정
  src/content/blog/050_React_커스텀_훅과_책임_분리_-_컴포넌트가_모든_걸_알_필요는_없다.md
Due: prettier --write

feat(blog): 051번 글 초안 - 우리는 과연 TypeScript 6.0을 써야 할까
  src/content/blog/051_우리는_과연_TypeScript_6.0을_써야_할까.md
Due: prettier --write

publish: 051번 글 발행 - 우리는 과연 TypeScript 6.0을 써야 할까
  src/content/blog/051_우리는_과연_TypeScript_6.0을_써야_할까.md
Due: prettier --write

feat(blog): 051번 글 이미지 6장 추가
  public/images/blogs/051/051_00_thumbnail.png
  public/images/blogs/051/051_01_fears-of-upgrade.png
  public/images/blogs/051/051_02_why-developer.png
  public/images/blogs/051/051_03_interview-difference.png
  public/images/blogs/051/051_04_best-timing.png
  public/images/blogs/051/051_05_start-now.png
Due: none

chore: 사용하지 않는 생성 이미지 삭제
  .opencode/generated-images/korean-student-webtoon-1773481256.jpg
Due: none

chore: 미사용 코드·이미지·의존성 정리 및 태그 링크 제거
  astro.config.mjs
  bun.lock
  package.json
  public/images/blogs/050/050_00_thumbnail.png
  public/images/blogs/050/050_01_tangled-component.png
  public/images/blogs/050/050_02_separated-structure.png
  public/images/blogs/050/050_03_hook-composition.png
  public/images/blogs/shared/placeholder.png
  public/images/blogs/zzz-demo-generated.jpg
  public/images/demo/damaged-building.jpg
  public/images/demo/damaged-cherry-blossom.jpg
  public/images/demo/damaged-railway.jpg
  public/images/demo/damaged-sunflower.jpg
  public/images/projects/.gitkeep
  src/assets/images/design/ready.png
  src/assets/images/projects/README.md
  src/layouts/BlogPost.astro
  src/shared/config/categories.ts
  src/shared/utils/blog.ts
Due: eslint --fix, prettier --write

feat(blog): 초기 블로그 글(001~008) 이미지 15장 추가
  public/images/blogs/001/001_00_thumbnail.png
  public/images/blogs/001/001_01_classroom-globe.png
  public/images/blogs/001/001_02_writing-journal.png
  public/images/blogs/003/003_00_thumbnail.png
  public/images/blogs/003/003_01_platform-comparison.png
  public/images/blogs/003/003_02_monetization-plan.png
  public/images/blogs/004/004_00_thumbnail.png
  public/images/blogs/005/005_00_thumbnail.png
  public/images/blogs/005/005_01_error-message.png
  public/images/blogs/005/005_02_eureka-moment.png
  public/images/blogs/006/006_01_lecture-scene.png
  public/images/blogs/006/006_02_four-questions.png
  public/images/blogs/008/008_00_thumbnail.png
  public/images/blogs/008/008_01_image-optimization.png
  public/images/blogs/008/008_02_markdown-management.png
Due: none

fix: 미사용 import 제거 및 reverseCategoryMap export 추가
  src/layouts/BlogPost.astro
  src/shared/config/categories.ts
Due: eslint --fix, prettier --write

feat(blog): 014~018번 글 이미지 14장 추가
  public/images/blogs/014/014_00_thumbnail.png
  public/images/blogs/014/014_01_jwt-structure.png
  public/images/blogs/014/014_02_oauth-flow.png
  public/images/blogs/015/015_00_thumbnail.png
  public/images/blogs/015/015_01_obsidian-graph-view.png
  public/images/blogs/015/015_02_cursor-ai-pair-programming.png
  public/images/blogs/016/016_00_thumbnail.png
  public/images/blogs/016/016_01_algorithm-simulation.png
  public/images/blogs/016/016_02_exam-study-plan.png
  public/images/blogs/017/017_00_thumbnail.png
  public/images/blogs/017/017_01_ai-classroom-activity.png
  public/images/blogs/017/017_02_personalized-learning.png
  public/images/blogs/018/018_00_thumbnail.png
  public/images/blogs/018/018_01_git-setup-commands.png
Due: none

feat: OpenClaw 자동화 워크플로우 글 추가
  src/content/blog/052_디스코드에서_말하면_맥미니가_일하기_시작했다_-_OpenClaw_자동화_워크플로우.md
Due: prettier --write

chore: blog-image 워크플로우를 글로벌에서 워크스페이스로 이동
  .agent/workflows/blog-image.md
Due: prettier --write

feat: AI 라이브러리 페이지 구현 및 052번 글 이미지 추가
  .agent/workflows/blog-image.md
  CLAUDE.md
  public/images/blogs/052/052_00_thumbnail.png
  public/images/blogs/052/052_01_architecture.png
  public/images/blogs/052/052_02_interface.png
  public/images/blogs/052/052_03_workspace.png
  public/images/blogs/052/052_04_collaboration.png
  public/images/blogs/052/052_05_vision.png
  src/content.config.ts
  src/content/blog/052_디스코드에서_말하면_맥미니가_일하기_시작했다_-_OpenClaw_자동화_워크플로우.md
  src/content/library/.gitkeep
  src/features/library/components/LibraryCard.astro
  src/pages/library/[slug].astro
  src/pages/library/index.astro
  src/shared/components/layout/Header.astro
Due: eslint --fix, prettier --write

fix: TypeScript 에러 수정 및 카테고리·포스트 번호 업데이트
  .claude/skills/blog-write/SKILL.md
  CLAUDE.md
  src/content/blog/047_WSL2_메모리_최적화_완벽_가이드.md
  src/features/library/components/LibraryCard.astro
  src/pages/library/index.astro
Due: eslint --fix, prettier --write

chore: pre-push 훅에 TypeScript 타입 체크 추가
  .husky/pre-push
Due: none

chore: 047·051·052번 글 이미지 업데이트 및 본문 수정
  public/images/blogs/047/047_00_thumbnail.png
  public/images/blogs/051/051_00_thumbnail.png
  public/images/blogs/051/051_01_fears-of-upgrade.png
  public/images/blogs/051/051_02_why-developer.png
  public/images/blogs/051/051_04_best-timing.png
  public/images/blogs/051/051_05_start-now.png
  public/images/blogs/051/smart_051_03.png
  public/images/blogs/052/052_00_thumbnail.png
  public/images/blogs/052/052_01_architecture.png
  public/images/blogs/052/052_02_interface.png
  public/images/blogs/052/052_03_workspace.png
  public/images/blogs/052/052_04_collaboration.png
  public/images/blogs/052/052_05_vision.png
  src/content/blog/047_WSL2_메모리_최적화_완벽_가이드.md
  src/content/blog/052_디스코드에서_말하면_맥미니가_일하기_시작했다_-_OpenClaw_자동화_워크플로우.md
Due: prettier --write

chore: 052번 글 이미지 재생성
  public/images/blogs/052/052_00_thumbnail.png
  public/images/blogs/052/052_01_architecture.png
  public/images/blogs/052/052_02_interface.png
  public/images/blogs/052/052_03_workspace.png
  public/images/blogs/052/052_04_collaboration.png
  public/images/blogs/052/052_05_vision.png
Due: none

chore: 047·051번 글 이미지 업데이트
  public/images/blogs/047/047_01_wslconfig-settings.png
  public/images/blogs/047/047_02_before-after.png
  public/images/blogs/051/051_00_thumbnail.png
  public/images/blogs/051/051_01_fears-of-upgrade.png
  public/images/blogs/051/051_02_why-developer.png
  public/images/blogs/051/051_03_interview-difference.png
  public/images/blogs/051/051_04_best-timing.png
  public/images/blogs/051/051_05_start-now.png
  src/content/blog/047_WSL2_메모리_최적화_완벽_가이드.md
Due: prettier --write

docs: publish 053 OpenClaw 에이전트 스킬 시스템 설계 가이드
  src/content/blog/053_OpenClaw_에이전트_스킬_시스템_설계_가이드.md
Due: prettier --write

docs: 053 OpenClaw 에이전트 스킬 시스템 설계 가이드 초안
  src/content/blog/053_OpenClaw_에이전트_스킬_시스템_설계_가이드.md
Due: prettier --write

docs: 054 AI 에이전트 6명이 협업하는 법 초안
  src/content/blog/054_AI_에이전트_6명이_협업하는_법_멀티에이전트_패턴_정리.md
Due: prettier --write

docs: 055 Ralph Loop: AI가 20시간 자율 코딩한 결과물 초안
  src/content/blog/055_Ralph_Loop_AI가_20시간_자율_코딩한_결과물.md
Due: prettier --write

docs: CLAUDE.md 최신 블로그 번호 052→054로 업데이트
  CLAUDE.md
Due: prettier --write

docs: 056 맥미니 한 대로 AI 회사 돌리기 초안
  src/content/blog/056_맥미니_한_대로_AI_회사_돌리기_리소스_최적화_편.md
Due: prettier --write

docs: 056 Ralph가 폭주 중입니다 초안
  .claude/skills/manage-skills/SKILL.md
  .claude/skills/manage-skills/references/verify-template.md
  .claude/skills/verify-implementation/SKILL.md
  public/images/blogs/047/047_00_thumbnail.png
  public/images/blogs/047/047_01_wslconfig-settings.png
  public/images/blogs/047/047_02_before-after.png
  public/images/blogs/051/051_00_thumbnail.png
  public/images/blogs/051/051_01_fears-of-upgrade.png
  public/images/blogs/051/051_02_why-developer.png
  public/images/blogs/051/051_03_interview-difference.png
  public/images/blogs/051/051_04_best-timing.png
  public/images/blogs/051/051_05_start-now.png
  public/images/blogs/051/smart_051_03.png
  public/images/blogs/052/052_00_thumbnail.png
  public/images/blogs/052/052_01_architecture.png
  public/images/blogs/052/052_02_interface.png
  public/images/blogs/052/052_03_workspace.png
  public/images/blogs/052/052_04_collaboration.png
  public/images/blogs/052/052_05_vision.png
  public/images/blogs/056/056_00_thumbnail.png
  public/images/blogs/056/056_01_ralph-running-wild.png
  public/images/blogs/056/056_02_ralph-team.png
  src/content/blog/056_Ralph가_폭주_중입니다.md
Due: prettier --write

docs: publish 056 Ralph가 폭주 중입니다
  src/content/blog/056_Ralph가_폭주_중입니다.md
Due: prettier --write

chore: add missing blog images for posts 044-048, 054
  public/images/blogs/044/044_00_thumbnail.png
  public/images/blogs/044/044_01_ssh-timeout-problem.png
  public/images/blogs/044/044_02_cicd-success.png
  public/images/blogs/045/045_00_thumbnail.png
  public/images/blogs/045/045_01_error-summary.png
  public/images/blogs/046/046_00_thumbnail.png
  public/images/blogs/046/046_01_electricity-cost.png
  public/images/blogs/046/046_02_final-verdict.png
  public/images/blogs/048/048_00_thumbnail.png
  public/images/blogs/048/048_01_registry-fix.png
  public/images/blogs/054/054_00_thumbnail.png
  public/images/blogs/054/054_01_team-overview.png
  public/images/blogs/054/054_02_delegation-pattern.png
  public/images/blogs/054/054_03_pipeline-and-review.png
  public/images/blogs/054/054_04_local-ops-checklist.png
Due: none

chore: 블로그 자동 발행 + Library agent zone 설정
  CLAUDE.md
  src/content.config.ts
Due: eslint --fix, prettier --write

feat: blog/library 완전 분리 + 에이전트 자율 발행 시스템 구축
  CLAUDE.md
Due: prettier --write

feat(library): gemma-4-apache-2-license-shift by cheese
  src/content/library/gemma-4-apache-2-license-shift.md
Due: prettier --write

feat(library): claude-code-quota-crisis by cheese
  src/content/library/claude-code-quota-crisis.md
Due: prettier --write

feat(library): SEO 필드 + UI 개선 + 기존 글 메타데이터 보강
  src/content.config.ts
  src/content/library/claude-code-quota-crisis.md
  src/content/library/gemma-4-apache-2-license-shift.md
  src/features/library/components/LibraryCard.astro
  src/pages/library/[slug].astro
  src/pages/library/index.astro
Due: eslint --fix, prettier --write

feat: library-write 스킬 + library-image 워크플로우 추가
  .agent/workflows/library-image.md
  .claude/skills/library-write/SKILL.md
Due: prettier --write

feat(library): wordpress-plugin-supply-chain-backdoor-2026 by cheese
  src/content/library/wordpress-plugin-supply-chain-backdoor-2026.md
Due: prettier --write

feat(library): claude-code-routines-workflow-automation by cheese
  src/content/library/claude-code-routines-workflow-automation.md
Due: prettier --write

feat(library): openclaw-real-user-adoption-trust-gap by cheese
  src/content/library/openclaw-real-user-adoption-trust-gap.md
Due: prettier --write

feat(library): add searchable explorer and richer cards
  src/features/library/components/LibraryCard.astro
  src/pages/library/index.astro
Due: eslint --fix, prettier --write

feat(library): add article TOC and related reads
  src/pages/library/[slug].astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts,mjs,cjs,mts,cts}) or (any of: *.astro)
  prettier --write: ((any of: *.{js,ts,mjs,cjs,mts,cts}) or (any of: *.astro)) or (any of: *.{json,md,yml,yaml})
