Repository IISweetHeartII/My_Website_Astro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,mjs,cjs,mts,cts}": ["eslint --fix", "prettier --write"],
  "*.astro": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: guard inline CTA tracking to same-site targets
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

feat(library): context-mode-mcp-context-window-coding-agent-2026 + catch-up: nemotron-personas-korea-sovereign-ai-dataset-2026
  public/images/library/context-mode-mcp-context-window-coding-agent-2026/01_context-routing-bottleneck.png
  public/images/library/context-mode-mcp-context-window-coding-agent-2026/02_context-stack-runtime-loop.png
  public/images/library/context-mode-mcp-context-window-coding-agent-2026/thumbnail.png
  public/images/library/nemotron-personas-korea-sovereign-ai-dataset-2026/01_demographic-to-persona-pipeline.png
  public/images/library/nemotron-personas-korea-sovereign-ai-dataset-2026/02_sovereign-ai-data-layer.png
  public/images/library/nemotron-personas-korea-sovereign-ai-dataset-2026/03_korean-ai-use-cases.png
  public/images/library/nemotron-personas-korea-sovereign-ai-dataset-2026/thumbnail.png
  src/content/library/context-mode-mcp-context-window-coding-agent-2026.md
  src/content/library/nemotron-personas-korea-sovereign-ai-dataset-2026.md
Due: prettier --write

feat(blog): add post 063 on FSD vs Layered and module dependency
  src/content/blog/063_FSD_아키텍처와_Layered_아키텍처_그리고_모듈_의존성_관리.md
Due: prettier --write

feat: add KV-backed CTA click metrics (#10)
  functions/api/cta.ts
  src/layouts/Layout.astro
  src/shared/scripts/chat-widget.ts
Due: eslint --fix, prettier --write

feat(blog): add 4 image prompts to post 063 (layered/dip/before-after)
  src/content/blog/063_FSD_아키텍처와_Layered_아키텍처_그리고_모듈_의존성_관리.md
Due: prettier --write

feat(blog): add 6 images for post 063 FSD vs Layered
  public/images/blogs/063/063_00_thumbnail.png
  public/images/blogs/063/063_01_fsd-city-layers.png
  public/images/blogs/063/063_02_layered-building.png
  public/images/blogs/063/063_03_double-header-bug.png
  public/images/blogs/063/063_04_dip-plug-analogy.png
  public/images/blogs/063/063_05_omechu-before-after.png
Due: none

feat(library): ai-coding-agent-guardrails-5-checklist-2026
  src/content/library/ai-coding-agent-guardrails-5-checklist-2026.md
Due: prettier --write

docs: revise FSD layering explanation
  public/images/blogs/063/063_01_fsd-city-layers.png
  public/images/blogs/063/063_05_omechu-before-after.png
  src/content/blog/063_FSD_아키텍처와_Layered_아키텍처_그리고_모듈_의존성_관리.md
Due: prettier --write

style(global): 가로 스크롤 차단 + 호버 시 표시되는 스크롤바
  src/styles/global.css
Due: none

fix(header): 데스크톱 분기점을 md(768px)에서 lg(1024px)로 이동
  src/shared/components/layout/Header.astro
Due: eslint --fix, prettier --write

feat(blog,seo,og): 누락 썸네일 11장 + OG 이미지 보라 브랜드 리디자인 + SEO 종합 보완
  .gitignore
  public/images/blogs/019/019_00_thumbnail.png
  public/images/blogs/021/021_00_thumbnail.png
  public/images/blogs/022/022_00_thumbnail.png
  public/images/blogs/023/023_00_thumbnail.png
  public/images/blogs/024/024_00_thumbnail.png
  public/images/blogs/026/026_00_thumbnail.png
  public/images/blogs/028/028_00_thumbnail.png
  public/images/blogs/030/030_00_thumbnail.png
  public/images/blogs/032/032_00_thumbnail.png
  public/images/blogs/038/038_00_thumbnail.png
  public/images/blogs/062/062_00_thumbnail.png
  src/pages/blog/[...page].astro
  src/pages/blog/[...slug].astro
  src/pages/category/[category]/[...page].astro
  src/pages/library/[slug].astro
  src/pages/library/index.astro
  src/pages/portfolio.astro
  src/pages/privacy.astro
  src/pages/resume.astro
  src/pages/showcase.astro
  src/shared/config/consts.ts
  src/shared/utils/og-image.ts
Due: eslint --fix, prettier --write

fix(seo): 블로그 OG 이미지를 featured_image로 우선 사용
  src/layouts/BlogPost.astro
Due: eslint --fix, prettier --write

fix: 공개 CTA 요약과 ingress 측정 추가
  README.md
  functions/api/cta.ts
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

fix: 공개 CTA 요약에서 전체 누적량 제거
  README.md
  functions/api/cta.ts
Due: eslint --fix, prettier --write

feat(library): codex-cli-goal-autonomous-agent-loop-2026
  public/images/library/anthropic-spacex-claude-compute-capacity-2026/01_compute-supply-vs-demand.png
  public/images/library/anthropic-spacex-claude-compute-capacity-2026/02_model-vs-capacity-war.png
  public/images/library/anthropic-spacex-claude-compute-capacity-2026/thumbnail.png
  public/images/library/chatgpt-workspace-agents-team-codex-automation-2026/01_gpt_to_workspace_agent.png
  public/images/library/chatgpt-workspace-agents-team-codex-automation-2026/02_slack_shared_agent_flow.png
  public/images/library/chatgpt-workspace-agents-team-codex-automation-2026/03_team_asset_governance.png
  public/images/library/chatgpt-workspace-agents-team-codex-automation-2026/thumbnail.png
  public/images/library/cheap-agent-loop-n8n-mcp-cost-war-2026/01_backend-cost-lane-split.png
  public/images/library/cheap-agent-loop-n8n-mcp-cost-war-2026/02_mcp-workflow-plumbing-stack.png
  public/images/library/cheap-agent-loop-n8n-mcp-cost-war-2026/thumbnail.png
  public/images/library/codex-cli-goal-autonomous-agent-loop-2026/01_goal-loop-vs-one-shot.png
  public/images/library/codex-cli-goal-autonomous-agent-loop-2026/02_goal-loop-architecture.png
  public/images/library/codex-cli-goal-autonomous-agent-loop-2026/thumbnail.png
  public/images/library/github-agent-hq-multi-agent-control-plane-2026/01_agent-routing-inside-github.png
  public/images/library/github-agent-hq-multi-agent-control-plane-2026/thumbnail.png
  public/images/library/google-cloud-fraud-defense-agentic-web-security-2026/01_identity-layer-for-agentic-web.png
  public/images/library/google-cloud-fraud-defense-agentic-web-security-2026/02_policy-engine-over-user-journey.png
  public/images/library/google-cloud-fraud-defense-agentic-web-security-2026/03_human-in-the-loop-for-agent-risk.png
  public/images/library/google-cloud-fraud-defense-agentic-web-security-2026/thumbnail.png
  public/images/library/molit-gemma-public-sector-slm-rag-korea-2026/01_public-sector-boundary.png
  public/images/library/molit-gemma-public-sector-slm-rag-korea-2026/02_slm-rag-architecture.png
  public/images/library/molit-gemma-public-sector-slm-rag-korea-2026/thumbnail.png
  src/content/library/anthropic-spacex-claude-compute-capacity-2026.md
  src/content/library/chatgpt-workspace-agents-team-codex-automation-2026.md
  src/content/library/cheap-agent-loop-n8n-mcp-cost-war-2026.md
  src/content/library/codex-cli-goal-autonomous-agent-loop-2026.md
  src/content/library/github-agent-hq-multi-agent-control-plane-2026.md
  src/content/library/google-cloud-fraud-defense-agentic-web-security-2026.md
  src/content/library/molit-gemma-public-sector-slm-rag-korea-2026.md
  src/content/library/nodejs-26-temporal-default-release-2026.md
  src/content/library/vibe-coding-usability-measurement-2026.md
Due: prettier --write

fix: restore CTA measurement summary path (#12)
  README.md
  functions/api/cta.ts
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

feat(library): gemini-cli-open-source-terminal-agent-1m-context-2026
  public/images/library/bun-zig-to-rust-port-runtime-trust-2026/01_phase-a-port-signal.png
  public/images/library/bun-zig-to-rust-port-runtime-trust-2026/02_language-choice-as-team-ops.png
  public/images/library/bun-zig-to-rust-port-runtime-trust-2026/03_korean-team-runtime-checklist.png
  public/images/library/bun-zig-to-rust-port-runtime-trust-2026/thumbnail.png
  public/images/library/gemini-cli-open-source-terminal-agent-1m-context-2026/01_free-funnel-terminal-habit.png
  public/images/library/gemini-cli-open-source-terminal-agent-1m-context-2026/02_chat-vs-agentic-cli.png
  public/images/library/gemini-cli-open-source-terminal-agent-1m-context-2026/03_google-dev-strategy-shift.png
  public/images/library/gemini-cli-open-source-terminal-agent-1m-context-2026/thumbnail.png
  src/content/library/bun-zig-to-rust-port-runtime-trust-2026.md
  src/content/library/gemini-cli-open-source-terminal-agent-1m-context-2026.md
Due: prettier --write

fix: restore CTA measurement operator path
  README.md
  docs/dev/cta-measurement-runbook.md
  package.json
  scripts/cta-summary.mjs
Due: eslint --fix, prettier --write

feat(library): harness-engineering-model-vs-agent-workflow-2026
  public/images/library/harness-engineering-model-vs-agent-workflow-2026/01_harness-stack.png
  public/images/library/harness-engineering-model-vs-agent-workflow-2026/02_ratchet-loop.png
  public/images/library/harness-engineering-model-vs-agent-workflow-2026/03_multi-agent-workflow.png
  public/images/library/harness-engineering-model-vs-agent-workflow-2026/thumbnail.png
  public/images/library/obscura-rust-headless-browser-ai-agent-scraping-2026/01_stack-footprint-comparison.png
  public/images/library/obscura-rust-headless-browser-ai-agent-scraping-2026/02_agent-browser-runtime.png
  public/images/library/obscura-rust-headless-browser-ai-agent-scraping-2026/03_adoption-tradeoff-matrix.png
  public/images/library/obscura-rust-headless-browser-ai-agent-scraping-2026/thumbnail.png
  src/content/library/harness-engineering-model-vs-agent-workflow-2026.md
  src/content/library/obscura-rust-headless-browser-ai-agent-scraping-2026.md
Due: prettier --write

feat: publish vibe coding usability measurement library post
  src/content/library/vibe-coding-usability-measurement-2026.md
Due: prettier --write

feat(library): supabase-agent-skills-postgres-best-practices-2026 + catch-up: mcp-stdio-security-crisis-command-execution-2026
  public/images/library/mcp-stdio-security-crisis-command-execution-2026/01_stdio-shell-boundary.png
  public/images/library/mcp-stdio-security-crisis-command-execution-2026/02_ecosystem-blast-radius.png
  public/images/library/mcp-stdio-security-crisis-command-execution-2026/03_hardening-checklist.png
  public/images/library/mcp-stdio-security-crisis-command-execution-2026/thumbnail.png
  public/images/library/supabase-agent-skills-postgres-best-practices-2026/01_agent-skill-layer.png
  public/images/library/supabase-agent-skills-postgres-best-practices-2026/thumbnail.png
  src/content/library/mcp-stdio-security-crisis-command-execution-2026.md
  src/content/library/supabase-agent-skills-postgres-best-practices-2026.md
Due: prettier --write

feat(library): tanstack-npm-compromise-slsa-oidc-supply-chain-2026 + catch-up: google-io-2026-agentic-coding-preview-korea
  public/images/library/google-io-2026-agentic-coding-preview-korea/01_io-timeline-watchpoints.png
  public/images/library/google-io-2026-agentic-coding-preview-korea/02_platform-signal-matrix.png
  public/images/library/google-io-2026-agentic-coding-preview-korea/03_agentic-coding-checklist.png
  public/images/library/google-io-2026-agentic-coding-preview-korea/thumbnail.png
  public/images/library/tanstack-npm-compromise-slsa-oidc-supply-chain-2026/thumbnail.png
  src/content/library/google-io-2026-agentic-coding-preview-korea.md
  src/content/library/tanstack-npm-compromise-slsa-oidc-supply-chain-2026.md
Due: prettier --write

feat(blog): publish 065 TanStack npm supply-chain postmortem + draft 064 React test coverage vs E2E
  public/images/blogs/064/064_00_thumbnail.png
  public/images/blogs/064/064_01_test-pyramid-gaps.png
  public/images/blogs/065/065_00_thumbnail.png
  public/images/blogs/065/065_01_attack-chain.png
  src/content/blog/064_React_테스트_커버리지_90퍼센트인데_E2E에서_박살난_이야기.md
  src/content/blog/065_TanStack_npm_공급망_공격_42개_패키지가_털린_6분의_기록.md
Due: prettier --write

feat(blog): publish 064 React test coverage vs E2E reality
  src/content/blog/064_React_테스트_커버리지_90퍼센트인데_E2E에서_박살난_이야기.md
Due: prettier --write

feat(library): google-ai-studio-antigravity-full-stack-workflow-2026
  public/images/library/google-ai-studio-antigravity-full-stack-workflow-2026/01_prompt-to-build-flow.png
  public/images/library/google-ai-studio-antigravity-full-stack-workflow-2026/02_editor-manager-workflow.png
  public/images/library/google-ai-studio-antigravity-full-stack-workflow-2026/03_full-stack-loop.png
  public/images/library/google-ai-studio-antigravity-full-stack-workflow-2026/thumbnail.png
  src/content/library/google-ai-studio-antigravity-full-stack-workflow-2026.md
  src/content/library/skill-md-context-poisoning-ai-agent-supply-chain-2026.md
Due: prettier --write

fix: publish cheap agent loop library asset
  src/content/library/cheap-agent-loop-n8n-mcp-cost-war-2026.md
Due: prettier --write

feat(library): recovery catch-up 2026-05-18
  public/images/library/chrome-webmcp-early-preview-agentic-web-2026/01_webmcp-vs-scraping.png
  public/images/library/chrome-webmcp-early-preview-agentic-web-2026/02_mcp-webmcp-split.png
  public/images/library/chrome-webmcp-early-preview-agentic-web-2026/03_korean-team-checklist.png
  public/images/library/chrome-webmcp-early-preview-agentic-web-2026/thumbnail.png
  public/images/library/github-agent-hq-multi-agent-control-plane-2026/02_policy-metrics-audit-dashboard.png
  public/images/library/google-official-mcp-servers-google-cloud-agent-toolchain-2026/01_google-cloud-mcp-surface.png
  public/images/library/google-official-mcp-servers-google-cloud-agent-toolchain-2026/02_apigee-internal-api-bridge.png
  public/images/library/google-official-mcp-servers-google-cloud-agent-toolchain-2026/03_korean-team-adoption-checklist.png
  public/images/library/google-official-mcp-servers-google-cloud-agent-toolchain-2026/thumbnail.png
  public/images/library/nodejs-26-temporal-default-release-2026/01_temporal-runtime-baseline.png
  public/images/library/nodejs-26-temporal-default-release-2026/02_date_to_temporal.png
  public/images/library/nodejs-26-temporal-default-release-2026/03_node26_migration_checklist.png
  public/images/library/nodejs-26-temporal-default-release-2026/thumbnail.png
  public/images/library/skill-md-context-poisoning-ai-agent-supply-chain-2026/01_skill-execution-layer.png
  public/images/library/skill-md-context-poisoning-ai-agent-supply-chain-2026/02_context-trust-boundary-shift.png
  public/images/library/skill-md-context-poisoning-ai-agent-supply-chain-2026/03_agent-supply-chain-checklist.png
  public/images/library/skill-md-context-poisoning-ai-agent-supply-chain-2026/thumbnail.png
  public/images/library/supabase-agent-skills-postgres-best-practices-2026/02_postgres-priority-map.png
  public/images/library/supabase-agent-skills-postgres-best-practices-2026/03_shared-skill-workflow.png
  public/images/library/tanstack-npm-compromise-slsa-oidc-supply-chain-2026/01_attack-chain.png
  public/images/library/tanstack-npm-compromise-slsa-oidc-supply-chain-2026/02_provenance-limit.png
  public/images/library/tanstack-npm-compromise-slsa-oidc-supply-chain-2026/03_defensive-defaults.png
  public/images/library/vibevoice-open-source-voice-ai-whisper-beyond-2026/.omx/state/session.json
  public/images/library/vibevoice-open-source-voice-ai-whisper-beyond-2026/02_ops-friendly-pipeline.png
  public/images/library/vibevoice-open-source-voice-ai-whisper-beyond-2026/03_voice-ai-ops-layer.png
  src/content/library/chrome-webmcp-early-preview-agentic-web-2026.md
  src/content/library/google-official-mcp-servers-google-cloud-agent-toolchain-2026.md
  src/content/library/vibe-coding-user-analysis-developer-learning-priorities-2026.md
Due: prettier --write

feat(library): add zerostack codegraph article
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/01_context-vs-codegraph.png
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/02_agent-navigating-codegraph.png
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/03_harness-control-plane.png
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/thumbnail.png
  src/content/library/zerostack-codegraph-local-coding-agent-harness-2026.md
Due: prettier --write

feat(library): add zerostack codegraph article (#13)
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/01_context-vs-codegraph.png
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/02_agent-navigating-codegraph.png
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/03_harness-control-plane.png
  public/images/library/zerostack-codegraph-local-coding-agent-harness-2026/thumbnail.png
  src/content/library/zerostack-codegraph-local-coding-agent-harness-2026.md
Due: prettier --write

feat(library): recovery catch-up 2026-05-19
  src/content/library/stripe-link-cli-ai-agent-payments-2026.md
  src/content/library/ui-tars-cloakbrowser-agentmemory-agent-product-layer-2026.md
  src/content/library/zerostack-codegraph-local-coding-agent-harness-2026.md
Due: prettier --write

feat: publish vibe coding user analysis library asset
  public/images/library/vibe-coding-user-analysis-developer-learning-priorities-2026/01_user-observation-loop.png
  public/images/library/vibe-coding-user-analysis-developer-learning-priorities-2026/02_learning-priority-stack.png
  public/images/library/vibe-coding-user-analysis-developer-learning-priorities-2026/thumbnail.png
  src/content/library/vibe-coding-user-analysis-developer-learning-priorities-2026.md
Due: prettier --write

feat(library): codex-maxxing-12-factor-agents-operating-discipline-2026
  src/content/library/codex-maxxing-12-factor-agents-operating-discipline-2026.md
Due: prettier --write

feat(library): recovery catch-up 2026-05-21
  src/content/library/rapid-mlx-26m-tool-calling-local-small-agent-2026.md
  src/content/library/synthid-remove-ai-watermarks-trust-infrastructure-2026.md
Due: prettier --write

feat(library): openai-math-discovery-research-agent-trust-2026
  src/content/library/vscode-extension-breach-ai-coding-supply-chain-2026.md
Due: prettier --write

feat(library): add conversion CTA to openai math article
  src/content/library/openai-math-discovery-research-agent-trust-2026.md
Due: prettier --write

feat(library): catch-up 2026-05-23
  src/content/library/hermes-v014-local-proxy-agent-cost-2026.md
Due: prettier --write

feat(library): tighten library card scanning
  src/features/library/components/LibraryCard.astro
Due: eslint --fix, prettier --write

feat(library): claude-cursor-devtools-mcp-agent-surface-map-2026
  src/content/library/ai-agent-plugin-permission-supply-chain-risk-2026.md
  src/content/library/ai-agent-roi-checklist-human-cost-2026.md
  src/content/library/ai-tool-maintenance-risk-korea-2026.md
  src/content/library/claude-cursor-devtools-mcp-agent-surface-map-2026.md
Due: prettier --write

feat(library): catch-up 2026-05-26
  src/content/library/ai-agent-roi-checklist-human-cost-2026.md
  src/content/library/claude-cursor-devtools-mcp-agent-surface-map-2026.md
  src/content/library/claude-knowledge-work-plugins-data-boundary-2026.md
Due: prettier --write
