Repository IISweetHeartII/My_Website_Astro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 채팅 말풍선 스타일 동적 요소에 적용되도록 수정
  src/shared/components/chat/ChatWidget.astro
Due: eslint --fix, prettier --write

feat: 채팅 대화 기록 유지 + 새 채팅 버튼 추가
  src/shared/components/chat/ChatWidget.astro
  src/shared/scripts/chat-widget.ts
Due: eslint --fix, prettier --write

feat: KV 기반 챗봇 학습 시스템 (2~3단계)
  functions/api/chat.ts
  functions/api/chat/admin.ts
  wrangler.toml
Due: eslint --fix, prettier --write

chore: Terraform 인프라 삭제 (DNS는 Cloudflare Dashboard에서 관리)
  .gitignore
  infra/cloudflare/main.tf
  infra/cloudflare/outputs.tf
  infra/cloudflare/providers.tf
  infra/cloudflare/terraform.tfvars.example
  infra/cloudflare/variables.tf
Due: none

chore: KV ID 설정 + 환경변수 문서 정리
  .env.example
  wrangler.toml
Due: none

refactor: 챗봇 프로필을 chat-context.md로 분리
  .openchrome/hints/hints-2026-03-01.jsonl
  .openchrome/timeline/timeline-2026-03-01.jsonl
  functions/api/chat.ts
  src/content/chat-context.md
  src/pages/chat-context.json.ts
Due: eslint --fix, prettier --write

chore: 불필요한 QA 리포트 파일 삭제
  QA_TEST_INDEX.md
  RESUME_QA_REPORT.md
  RESUME_QA_SUMMARY.txt
Due: prettier --write

chore: .wrangler/ gitignore 추가
  .gitignore
Due: none

docs: README 전면 개편 + Cloudflare 가이드 업데이트
  README.md
  docs/dev/cloudflare-cli-iac-runbook.md
Due: prettier --write

fix: SEO OG 메타데이터 파이프라인 정리
  public/images/design/ready.png
  src/layouts/BlogPost.astro
  src/layouts/Layout.astro
  src/pages/og/default.png.ts
  src/shared/components/layout/BaseHead.astro
  src/shared/config/consts.ts
  src/shared/utils/og-image.ts
Due: eslint --fix, prettier --write

refactor: CSS/UX 전반 개선 및 공유하기 리뉴얼
  src/features/blog/components/CategoryFilter.astro
  src/features/blog/components/SocialShare.astro
  src/features/blog/components/TableOfContents.astro
  src/pages/resume.astro
  src/shared/scripts/scroll-animation.ts
  src/styles/global.css
  src/styles/theme.css
Due: eslint --fix, prettier --write

chore: 불필요한 openchrome 로그 파일 삭제
  .openchrome/hints/hints-2026-03-01.jsonl
  .openchrome/timeline/timeline-2026-03-01.jsonl
Due: none

feat: 페이지별 OG 이미지와 메타 호환성 강화
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/blog/[...page].astro
  src/pages/category/[category]/[...page].astro
  src/pages/index.astro
  src/pages/og/page/[page].png.ts
  src/pages/portfolio.astro
  src/pages/privacy.astro
  src/pages/resume.astro
  src/pages/showcase.astro
  src/shared/components/layout/BaseHead.astro
  src/shared/config/consts.ts
Due: eslint --fix, prettier --write

feat: 049 취업 회고 포스트와 이미지 세트 추가
  public/images/blogs/049-01-business-fail.jpg
  public/images/blogs/049-02-coding-start.jpg
  public/images/blogs/049-03-job-spam.jpg
  public/images/blogs/049-04-interview-fail.jpg
  public/images/blogs/049-05-ai-coding.jpg
  public/images/blogs/049-06-hired.jpg
  public/images/blogs/049-thumbnail.jpg
  src/content/blog/049. AI에_200달러를_태우고_백엔드_개발자가_됐다.md
Due: prettier --write

chore: 로컬 스킬 파일 추가
  .claude/skills/blog-check/SKILL.md
  .claude/skills/blog-write/SKILL.md
  .claude/skills/manage-skills/SKILL.md
  .claude/skills/manage-skills/references/verify-template.md
  .claude/skills/verify-implementation/SKILL.md
Due: prettier --write

feat: AI 챗봇 hallucination 방지 및 전반적 개선
  functions/api/chat.ts
  src/content/blog/049. AI에_200달러를_태우고_백엔드_개발자가_됐다.md
  src/pages/blog-index.json.ts
  src/shared/components/chat/ChatWidget.astro
  src/shared/scripts/chat-widget.ts
Due: eslint --fix, prettier --write

docs: CLAUDE.md 전면 업데이트 및 verify-blog-post 스킬 추가
  .claude/skills/manage-skills/SKILL.md
  .claude/skills/verify-blog-post/SKILL.md
  .claude/skills/verify-implementation/SKILL.md
  CLAUDE.md
Due: prettier --write

docs: 이미지 컨벤션 전면 통일 (서브폴더 + 언더바 + PNG)
  .claude/skills/blog-check/SKILL.md
  .claude/skills/blog-write/SKILL.md
  CLAUDE.md
Due: prettier --write

feat: 대문 히어로 섹션 Aurora 디자인으로 전면 교체
  src/pages/index.astro
Due: eslint --fix, prettier --write

fix: Cloudflare deploy 한글 커밋메시지 인코딩 오류 수정 + 002 블로그 이미지 교체
  .github/workflows/deploy-cloudflare.yml
  .opencode/generated-images/korean-student-webtoon-1773481256.jpg
  public/images/blogs/002/002_00_thumbnail.png
  public/images/blogs/002/002_01_market-post.png
  public/images/blogs/002/002_02_transfer-moment.png
  public/images/blogs/002/002_03_shocking-discovery.png
  public/images/blogs/002/002_04_fake-documents.png
  public/images/blogs/002/002_05_refund-request.png
  public/images/blogs/zzz-demo-generated.jpg
  src/content/blog/002_알고리즘_족보_구매,_그_충격적인_진실_-_1.md
Due: prettier --write

feat: Slidev 발표자료 시스템 추가 + 블로그 050
  .claude/skills/slides-write/README.md
  CLAUDE.md
  slides/.gitignore
  slides/README.md
  slides/build.mjs
  slides/bun.lock
  slides/package.json
  slides/react-week2/slides.md
  slides/vite.config.ts
  src/content/blog/050_React_커스텀_훅과_책임_분리_-_컴포넌트가_모든_걸_알_필요는_없다.md
Due: eslint --fix, prettier --write

docs: Slidev 스타일 가이드 + README 보강
  .claude/skills/slides-write/README.md
  slides/README.md
  slides/STYLE_GUIDE.md
Due: prettier --write

feat: Slidev 브랜드 테마 + 코드 슬라이드 개선
  slides/STYLE_GUIDE.md
  slides/react-week2/slides.md
  slides/style.css
Due: prettier --write

feat: react-week2 슬라이드 실제 Omechu 코드 기반으로 전면 교체
  slides/react-week2/slides.md
Due: prettier --write

feat: Slidev 발표자료 풀 리디자인 — 기깔나게
  slides/react-week2/slides.md
  slides/style.css
Due: prettier --write

fix: 코드 슬라이드 오버플로우 수정 + 인트로 슬라이드 CSS 개선
  slides/react-week2/slides.md
  slides/style.css
Due: prettier --write

fix: 요약 슬라이드 코드 깨짐 수정
  slides/react-week2/slides.md
  slides/style.css
Due: prettier --write

fix: Case3 After 코드블록 22줄 이하로 압축
  slides/react-week2/slides.md
Due: prettier --write

fix: 모든 코드블록 18줄 이하로 압축 (오버플로우 전면 수정)
  slides/react-week2/slides.md
Due: prettier --write

fix: 요약 슬라이드 grid 깨짐 수정 — v-motion 제거
  slides/react-week2/slides.md
Due: prettier --write

fix: 요약 슬라이드 CSS 클래스 → inline style로 전환
  slides/react-week2/slides.md
Due: prettier --write

docs: Slidev 렌더링 4대 금지 규칙 문서화
  .claude/skills/slides-write/README.md
  CLAUDE.md
  slides/STYLE_GUIDE.md
Due: prettier --write

fix: deploy 워크플로우 YAML 표현식 파싱 오류 수정
  .github/workflows/deploy-cloudflare.yml
Due: prettier --write

fix: wrangler 배포 커밋메시지를 셸 명령으로 대체
  .github/workflows/deploy-cloudflare.yml
Due: prettier --write

feat: 050 React 커스텀 훅과 책임 분리 포스트 발행
  src/content/blog/050_React_커스텀_훅과_책임_분리_-_컴포넌트가_모든_걸_알_필요는_없다.md
Due: prettier --write

docs: 최신 블로그 번호 050으로 업데이트
  CLAUDE.md
Due: prettier --write

feat: 050 블로그 본문 슬라이드 실제 코드 기반으로 전면 재작성
  src/content/blog/050_React_커스텀_훅과_책임_분리_-_컴포넌트가_모든_걸_알_필요는_없다.md
Due: prettier --write

feat: 050 블로그 이미지 에셋 생성 및 교체
  public/images/blogs/050/050_00_thumbnail.png
  public/images/blogs/050/050_01_tangled-component.png
  public/images/blogs/050/050_02_separated-structure.png
  public/images/blogs/050/050_03_hook-composition.png
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,ts,mjs,cjs,mts,cts}) or (any of: *.astro)
  prettier --write: ((any of: *.{js,ts,mjs,cjs,mts,cts}) or (any of: *.astro)) or (any of: *.{json,md,yml,yaml})
