Repository IISweetHeartII/My_Website_Astro: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(library): sync stale mirrored OG titles (#24)
  src/content/library/ai-api-cost-limit-500m-incident-2026.md
  src/content/library/chatgpt-workspace-agents-team-codex-automation-2026.md
  src/content/library/context-mode-mcp-context-window-coding-agent-2026.md
  src/content/library/google-io-2026-agentic-coding-preview-korea.md
  src/content/library/korea-tech-hiring-freeze-mid-career-ai-2026.md
  src/content/library/mcp-a2a-agent-protocol-stack-2026.md
  src/content/library/molit-gemma-public-sector-slm-rag-korea-2026.md
  src/content/library/openai-codex-plugin-inside-claude-code-2026.md
Due: prettier --write

feat(og): generate per-post images at build time (#25)
  src/assets/fonts/noto-sans-kr-700.ttf
  src/layouts/BlogPost.astro
  src/pages/en/library/[slug].astro
  src/pages/guides/[slug].astro
  src/pages/library/[slug].astro
  src/pages/og/[...slug].png.ts
  src/shared/utils/og-image.ts
Due: eslint --fix, prettier --write

docs(guides): remove Hermes guide draft leak and repetition
  src/content/guides/hermes-operations-guide.md
Due: prettier --write

feat(library): complexity-aware-agent-execution-e3-2026
  public/images/library/complexity-aware-agent-execution-e3-2026/01-overreading-vs-minimum-path.png
  public/images/library/complexity-aware-agent-execution-e3-2026/02-estimate-execute-expand-loop.png
  public/images/library/complexity-aware-agent-execution-e3-2026/thumbnail.png
  src/content/library/complexity-aware-agent-execution-e3-2026.md
Due: prettier --write

feat(guides): Hermes 운영 가이드 결정판 1호 (#20)
  src/content/guides/hermes-operations-guide.md
Due: prettier --write

feat(library): link video for mcp-a2a-agent-protocol-stack-2026
  src/content/library/mcp-a2a-agent-protocol-stack-2026.md
Due: prettier --write

feat(library): ai-code-review-comment-protocol-2026
  public/images/library/ai-code-review-comment-protocol-2026/01_finding-to-feedback-gate.png
  public/images/library/ai-code-review-comment-protocol-2026/02_comment-delivery-policy.png
  public/images/library/ai-code-review-comment-protocol-2026/thumbnail.png
  src/content/library/ai-code-review-comment-protocol-2026.md
Due: prettier --write

feat(library): openai-compatible-structured-output-contract-2026
  public/images/library/openai-compatible-structured-output-contract-2026/01_schema-propagation-gap.png
  public/images/library/openai-compatible-structured-output-contract-2026/02_contract-test-observability.png
  public/images/library/openai-compatible-structured-output-contract-2026/thumbnail.png
  src/content/library/openai-compatible-structured-output-contract-2026.md
Due: prettier --write

feat(library): add mobile article toc
  src/pages/library/[slug].astro
Due: eslint --fix, prettier --write

feat(library): self-hosted-ddns-tsig-least-privilege-2026
  public/images/library/self-hosted-ddns-tsig-least-privilege-2026/01_ddns-authority-boundary.png
  public/images/library/self-hosted-ddns-tsig-least-privilege-2026/02_ddns-verification-loop.png
  public/images/library/self-hosted-ddns-tsig-least-privilege-2026/thumbnail.png
  src/content/library/self-hosted-ddns-tsig-least-privilege-2026.md
Due: prettier --write

feat(library): electron-desktop-app-security-boundary-2026
  public/images/library/electron-desktop-app-security-boundary-2026/01_process-permission-boundary.png
  public/images/library/electron-desktop-app-security-boundary-2026/02_ipc-validation-audit-flow.png
  public/images/library/electron-desktop-app-security-boundary-2026/thumbnail.png
  src/content/library/electron-desktop-app-security-boundary-2026.md
Due: prettier --write

feat(library): sql-query-history-semantic-layer-2026
  public/images/library/sql-query-history-semantic-layer-2026/01_query-history-review-flow.png
  public/images/library/sql-query-history-semantic-layer-2026/02_semantic-contract-ai-analytics.png
  public/images/library/sql-query-history-semantic-layer-2026/thumbnail.png
  src/content/library/sql-query-history-semantic-layer-2026.md
Due: prettier --write

fix(i18n): stop the language switch from sending visitors to 404
  src/content/library/en/local-models-usability-threshold-2026.md
  src/layouts/Layout.astro
  src/shared/components/layout/BaseHead.astro
  src/shared/components/layout/Header.astro
  src/shared/i18n/ui.ts
Due: eslint --fix, prettier --write

fix(cache): stop the homepage from serving stale HTML after a deploy
  public/_headers
Due: none

feat(nav): slim the header to four destinations
  src/shared/components/layout/Footer.astro
  src/shared/components/layout/Header.astro
  src/shared/i18n/ui.ts
Due: eslint --fix, prettier --write

feat(chat): make the assistant current, and let it read the blog
  functions/api/chat.ts
  src/content/chat-context.md
  src/pages/blog-index.json.ts
Due: eslint --fix, prettier --write

feat(seo): generate llms.txt from the content collections
  public/llms.txt
  src/pages/llms-full.txt.ts
  src/pages/llms.txt.ts
  src/shared/utils/llms-content.ts
Due: eslint --fix, prettier --write

fix(seo): give the site one author identity
  src/layouts/BlogPost.astro
  src/pages/en/library/[slug].astro
  src/pages/library/[slug].astro
  src/pages/og/page/[page].png.ts
  src/pages/resume.astro
  src/shared/components/layout/BaseHead.astro
Due: eslint --fix, prettier --write

refactor(work): fold Showcase into Work, and put contact where people finish reading
  astro.config.mjs
  public/_redirects
  src/features/portfolio/components/ProjectCards.astro
  src/features/portfolio/data/projects.ts
  src/pages/404.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/portfolio.astro
  src/pages/showcase.astro
  src/shared/components/ui/ContactCTA.astro
  src/shared/i18n/ui.ts
Due: eslint --fix, prettier --write

fix(chat): quote published post counts, not file counts
  src/content/chat-context.md
Due: prettier --write

feat(i18n): give the English section its own core pages
  src/pages/about.astro
  src/pages/en/about.astro
  src/pages/en/portfolio.astro
  src/pages/en/resume.astro
  src/shared/components/layout/BaseHead.astro
  src/shared/components/layout/Footer.astro
  src/shared/components/layout/Header.astro
  src/shared/i18n/ui.test.mjs
  src/shared/i18n/ui.ts
Due: eslint --fix, prettier --write

feat(i18n): localize the chrome that surrounded the English pages
  src/features/blog/components/SearchDialog.astro
  src/pages/en/portfolio.astro
  src/pages/en/resume.astro
  src/shared/components/chat/ChatWidget.astro
  src/shared/components/layout/Header.astro
  src/shared/i18n/ui.ts
  src/shared/scripts/chat-widget.ts
Due: eslint --fix, prettier --write

fix(i18n): answer English visitors in English, and keep one author identity
  astro.config.mjs
  functions/api/chat.ts
  src/pages/en/about.astro
  src/shared/components/chat/ChatWidget.astro
  src/shared/i18n/ui.test.mjs
  src/shared/i18n/ui.ts
  src/shared/scripts/chat-widget.ts
Due: eslint --fix, prettier --write

fix(content): graduation moves to August 2026
  src/content/chat-context.md
  src/pages/en/portfolio.astro
  src/pages/en/resume.astro
  src/pages/portfolio.astro
  src/pages/resume.astro
Due: eslint --fix, prettier --write

feat(library): persist explorer filters in URL
  src/pages/library/index.astro
Due: eslint --fix, prettier --write

fix(content): refresh AgentGram metrics on the Korean resume and portfolio
  src/pages/portfolio.astro
  src/pages/resume.astro
Due: eslint --fix, prettier --write

refactor(portfolio): Work를 프로젝트 목록+상세 뷰어로 재편하고 지표 갱신
  src/content/chat-context.md
  src/features/portfolio/components/ProjectCards.astro
  src/features/portfolio/data/projects.ts
  src/pages/en/about.astro
  src/pages/en/portfolio.astro
  src/pages/en/resume.astro
  src/pages/index.astro
  src/pages/portfolio.astro
  src/pages/resume.astro
  src/shared/i18n/ui.ts
Due: eslint --fix, prettier --write

feat(library): ai-coding-agent-understanding-check-2026
  public/images/library/ai-coding-agent-understanding-check-2026/01_review-loop.png
  public/images/library/ai-coding-agent-understanding-check-2026/02_question-cards.png
  public/images/library/ai-coding-agent-understanding-check-2026/thumbnail.png
  src/content/library/ai-coding-agent-understanding-check-2026.md
Due: prettier --write

feat(library): programmatic-agent-memory-long-horizon-2026
  public/images/library/programmatic-agent-memory-long-horizon-2026/01_memory-scope-model.png
  public/images/library/programmatic-agent-memory-long-horizon-2026/02_retrieval-and-verification-flow.png
  public/images/library/programmatic-agent-memory-long-horizon-2026/thumbnail.png
  src/content/library/programmatic-agent-memory-long-horizon-2026.md
Due: prettier --write

feat(library): agent-skill-regression-rate-2026
  public/images/library/agent-skill-regression-rate-2026/01_paired-evaluation-board.png
  public/images/library/agent-skill-regression-rate-2026/02_skill-release-gate.png
  public/images/library/agent-skill-regression-rate-2026/thumbnail.png
  src/content/library/agent-skill-regression-rate-2026.md
Due: prettier --write

feat(library): open-weight-release-readiness-2026
  public/images/library/open-weight-release-readiness-2026/01_release-surface.png
  public/images/library/open-weight-release-readiness-2026/02_readiness-review.png
  public/images/library/open-weight-release-readiness-2026/thumbnail.png
  src/content/library/open-weight-release-readiness-2026.md
Due: prettier --write

feat(library): agent-artifact-probing-monitoring-2026
  public/images/library/agent-artifact-probing-monitoring-2026/01_two-lane-monitoring.png
  public/images/library/agent-artifact-probing-monitoring-2026/02_probe-design-matrix.png
  public/images/library/agent-artifact-probing-monitoring-2026/thumbnail.png
  src/content/library/agent-artifact-probing-monitoring-2026.md
Due: prettier --write

feat(library): postgres-agent-state-connection-budget-2026
  public/images/library/postgres-agent-state-connection-budget-2026/01_connection-budget.png
  public/images/library/postgres-agent-state-connection-budget-2026/02_queue-and-lock-observability.png
  public/images/library/postgres-agent-state-connection-budget-2026/thumbnail.png
  src/content/blog/001_블로그_글쓰기_시작_-_기록의_중요성...md
  src/content/library/postgres-agent-state-connection-budget-2026.md
Due: prettier --write

feat(library): agent-continuous-assurance-readiness-contract-2026
  public/images/library/agent-continuous-assurance-readiness-contract-2026/01_deployment-vs-readiness.png
  public/images/library/agent-continuous-assurance-readiness-contract-2026/02_readiness-probe-layers.png
  public/images/library/agent-continuous-assurance-readiness-contract-2026/thumbnail.png
  src/content/library/agent-continuous-assurance-readiness-contract-2026.md
Due: prettier --write

feat(library): cpp26-undefined-behavior-migration-2026
  public/images/library/cpp26-undefined-behavior-migration-2026/01_compile-time-gate.png
  public/images/library/cpp26-undefined-behavior-migration-2026/02_migration-board.png
  public/images/library/cpp26-undefined-behavior-migration-2026/thumbnail.png
  src/content/library/cpp26-undefined-behavior-migration-2026.md
Due: prettier --write

feat(resume): add PurplePepper and Nyangmoney experience, refresh AI orchestration stats
  src/pages/en/resume.astro
  src/pages/resume.astro
Due: eslint --fix, prettier --write

feat(library): show related read reasons
  src/pages/library/[slug].astro
Due: eslint --fix, prettier --write

feat(library): add agent quick filters
  src/pages/library/index.astro
Due: eslint --fix, prettier --write

feat(library): multi-agent-task-portfolio-coverage-2026
  public/images/library/multi-agent-task-portfolio-coverage-2026/01_hypothesis-source-validation-board.png
  public/images/library/multi-agent-task-portfolio-coverage-2026/02_evidence-ledger-action-portfolio.png
  public/images/library/multi-agent-task-portfolio-coverage-2026/thumbnail.png
  src/content/library/multi-agent-task-portfolio-coverage-2026.md
Due: prettier --write

feat(library): esp32-ip-kvm-out-of-band-recovery-2026
  public/images/library/esp32-ip-kvm-out-of-band-recovery-2026/01_recovery-path.png
  public/images/library/esp32-ip-kvm-out-of-band-recovery-2026/02_security-checklist.png
  public/images/library/esp32-ip-kvm-out-of-band-recovery-2026/thumbnail.png
  src/content/library/esp32-ip-kvm-out-of-band-recovery-2026.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts,mjs,cjs,mts,cts}) or (any of: *.astro)
  prettier --write: ((any of: *.{js,ts,mjs,cjs,mts,cts}) or (any of: *.astro)) or (any of: *.{json,md,yml,yaml})
